	<!-- BEGIN #app -->
	<div id="app" class="app">
		<!-- BEGIN error -->
		<div class="error">
			<div class="error-code">{{ status }}</div>
			<div class="error-content">
				<div class="error-message">{{ message }}</div>
				<div class="error-desc mb-4">
          “Decay is inherent in all compound things. Work out your own salvation with diligence.” - The last words of the Buddha
				</div>
				<div>
					<a href="/" class="btn btn-theme px-3">Go Home</a>
				</div>
			</div>
		</div>
		<!-- END error -->
		
		
		<!-- BEGIN scroll-top-btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-theme btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
		<!-- END scroll-top-btn -->
	</div>
	<!-- END #app -->