<!-- PRELOADER -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->

	<div class="wrapper">

		<!-- HERO -->
		<section id="hero" class="module-hero overlay-dark" data-background="assets/images/module-7.jpg">

			<!-- HERO TEXT -->
			<div class="hero-caption">
				<div class="hero-text">

					<!-- YOUR LOGO -->
					<!--<img class="m-b-100" src="assets/images/logo-01.png" alt="Cronster Logo">-->

					<!-- HERO CONTENT -->
					<h1 class="m-b-40">Coming <b>soon.</b></h1>
					<p class="lead m-b-60">Experience the power of time with <strong>Cronster</strong>, the app for all of life's events.</p>

					<!-- COUNTDOWN: YOUR DATE HERE -->
					<div id="countdown" class="m-b-100" data-countdown="2024/03/28"></div>

				</div>
			</div>
			<!-- /HERO TEXT -->

		</section>
		<!-- /HERO -->

		<!-- SERVICES -->
		<section id="services" class="module">

			<!-- MODULE DIVIDER -->
			<a id="hero-divider" class="striped-icon divider inner-scroll" href="#services">
				<i class="fa fa-angle-down"></i>
			</a>
			<!-- /MODULE DIVIDER -->

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h3 class="module-subtitle">Stay in touch with all life's events.</h3>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<div class="row multi-columns-row">

					<!-- ICONBOX -->
					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox text-sm-center wow fadeInUp">
							<div class="iconbox-icon">
								<span class="icon_clock_alt"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title">Create</h4>
							</div>
							<div class="iconbox-content">
                <p>Easily create beautiful pages with Cronster that count down (or up) to any life event, transforming anticipation into an art form.</p>
							</div>
						</div>
					</div>
					<!-- /ICONBOX -->

					<!-- ICONBOX -->
					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox text-sm-center wow fadeInUp" data-wow-delay="0.2s">
							<div class="iconbox-icon">
								<span class="icon_like"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title">Share</h4>
							</div>
							<div class="iconbox-content">
								<p>Cronster offers easy-to-use sharing, enabling you to post your countdowns on social media, messaging apps, or embed them in emails and websites.</p>
							</div>
						</div>
					</div>
					<!-- /ICONBOX -->

					<!-- ICONBOX -->
					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox text-sm-center wow fadeInUp" data-wow-delay="0.4s">
							<div class="iconbox-icon">
								<span class="icon_star_alt"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title">Remember</h4>
							</div>
							<div class="iconbox-content">
                <p>The app also counts up from past events, allowing you to celebrate anniversaries and reminisce about cherished memories.</p>
							</div>
						</div>
					</div>
					<!-- /ICONBOX -->

				</div>

			</div>
		</section>
		<!-- /SERVICES -->

		<!-- SUBSCRIBE -->
		<section class="module overlay-dark" data-background="assets/images/module-8.jpg">
			<div class="container">

				<div class="row">

					<!-- MODULE TITLE -->
					<div class="col-sm-12 col-md-6 wow fadeInLeft">
						<h2 class="module-title text-left text-md-center m-b-0 m-b-md-30">Get <b>Updated.</b></h2>
					</div>
					<!-- /MODULE TITLE -->

					<div class="col-sm-12 col-md-6 text-sm-center wow fadeInRight">
						<form id="subscription-form" class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-8 m-b-sm-30">
									<label class="sr-only" for="sub-email">E-mail</label>
									<input type="email" id="sub-email" name="sub-email" class="form-control no-boder" placeholder="E-mail" required>
								</div>

								<div class="col-sm-4">
									<button id="subscription-submit" type="submit" class="btn btn-base">Get Updates</button>
								</div>
							</div>
						</form>

						<div id="subscription-message" class="ajax-response"></div>
					</div>

				</div>

			</div>
		</section>
		<!-- /SUBSCRIBE -->

		<!-- FOOTER -->

		<footer class="footer p-t-0" style="margin-top: 30px;">
			<div class="container">
		
				<div class="row">
		
				</div>
		
				<div class="row">
		
					<div class="col-sm-12">
		
						<div class="social-icons social-icons-animated m-b-40">
							<a href="#" target="_blank" class="fa fa-facebook facebook wow fadeInUp"></a>
							<a href="#" target="_blank" class="fa fa-twitter twitter wow fadeInUp"></a>
							<a href="#" target="_blank" class="fa fa-instagram instagram wow fadeInUp"></a>
						</div>
		
					</div>
		
				</div>
		
				<hr class="divider">
		
				<div class="row">
		
					<div class="col-sm-12">
		
						<div class="copyright text-center m-t-40">
							© 2023 <a href="#"><b>Cronster</b></a>, All Rights Reserved.
						</div>
		
					</div>
		
				</div>
		
			</div>
		</footer>

		<!-- /FOOTER -->

	</div>
	<!-- /WRAPPER -->