<!-- BEGIN #header -->
		<div id="header" class="app-header">
			<!-- BEGIN navbar-header -->
			<div class="navbar-header">
				<a href="/" class="navbar-brand"><b class="me-3px" style="font-size: 24px; font-style: italic;">
          <span style="vertical-align: -4px; margin-right: -4px;" class="material-icons">schedule</span> Cronster</b></a>
				<button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- END navbar-header -->
		</div>
		<!-- END #header -->