			<!-- BEGIN profile -->
			<div class="profile">
				<div class="profile-header">
					<!-- BEGIN profile-header-cover -->
					<div class="profile-header-cover"></div>
					<!-- END profile-header-cover -->
					<!-- BEGIN profile-header-content -->
					<div class="profile-header-content" style="background-image: url({{ backgroundImage }}); background-size: cover;">
						<!-- BEGIN profile-header-img -->
						<div class="profile-header-img">
							<img src="{{ image }}" alt="Profile image for @{{ username }}" />
						</div>
						<!-- END profile-header-img -->
						<!-- BEGIN profile-header-info -->
						<div class="profile-header-info">
							<h4 class="mt-0 mb-1">@{{ username }}</h4>
							<p class="mb-2">Member since 2023</p>
							<a href="https://dashboard.cronster.app/#/signup" class="btn btn-xs btn-theme">Sign Up</a>
						</div>
						<!-- END profile-header-info -->
					</div>
					<!-- END profile-header-content -->
					<!-- BEGIN profile-header-tab -->
					<ul class="profile-header-tab nav nav-tabs">
						<li class="nav-item"><a href="#profile-crons" class="nav-link active" data-bs-toggle="tab">CRONS</a></li>
						<li class="nav-item"><a href="#profile-about" class="nav-link" data-bs-toggle="tab">ABOUT</a></li>
					</ul>
					<!-- END profile-header-tab -->
				</div>
			</div>
			<!-- END profile -->
			<!-- BEGIN profile-content -->
			<div class="profile-content">
      </div>
      <!-- END profile-content -->